# Starbucks Nutrition Detail

# About Dataset

# Description
Nutrition facts for several Starbucks food items. item Food item.

calories Calories.

fat a numeric vector

carb a numeric vector

fiber a numeric vector

protein a numeric vector

type a factor with levels bakery, bistro box, hot breakfast, parfait, petite, salad, and sandwich

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import seaborn as sn

# Read the data

In [5]:
star = pd.read_csv('starbucks.csv')

In [6]:
star.head()

,Unnamed: 0,item,calories,fat,carb,fiber,protein,type
0,1,8-Grain Roll,350,8.0,67,5,10,bakery
1,2,Apple Bran Muffin,350,9.0,64,7,6,bakery
2,3,Apple Fritter,420,20.0,59,0,5,bakery
3,4,Banana Nut Loaf,490,19.0,75,4,7,bakery
4,5,Birthday Cake Mini Doughnut,130,6.0,17,0,0,bakery

In [7]:
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  77 non-null     int64
 1   item        77 non-null     object
 2   calories    77 non-null     int64
 3   fat         77 non-null     float64
 4   carb        77 non-null     int64
 5   fiber       77 non-null     int64
 6   protein     77 non-null     int64
 7   type        77 non-null     object
dtypes: float64(1), int64(5), object(2)
memory usage: 4.9+ KB

In [8]:
star.shape

(77, 8)

In [14]:
star.describe()

       Unnamed: 0    calories        fat       carb      fiber    protein
count   77.000000   77.000000  77.000000  77.000000  77.000000  77.000000
mean    39.000000  338.831169  13.766234  44.870130   2.220779   9.480519
std     22.371857  105.368701   7.095488  16.551634   2.112764   8.079556
min      1.000000   80.000000   0.000000  16.000000   0.000000   0.000000
25%     20.000000  300.000000   9.000000  31.000000   0.000000   5.000000
50%     39.000000  350.000000  13.000000  45.000000   2.000000   7.000000
75%     58.000000  420.000000  18.000000  59.000000   4.000000  15.000000
max     77.000000  500.000000  28.000000  80.000000   7.000000  34.000000

# Checks Column

In [16]:
star.columns

Index(['Unnamed: 0', 'item', 'calories', 'fat', 'carb', 'fiber', 'protein',
       'type'],
      dtype='object')

In [17]:
star.describe().transpose()

            count        mean         std   min    25%    50%    75%    max
Unnamed: 0   77.0   39.000000   22.371857   1.0   20.0   39.0   58.0   77.0
calories     77.0  338.831169  105.368701  80.0  300.0  350.0  420.0  500.0
fat          77.0   13.766234    7.095488   0.0    9.0   13.0   18.0   28.0
carb         77.0   44.870130   16.551634  16.0   31.0   45.0   59.0   80.0
fiber        77.0    2.220779    2.112764   0.0    0.0    2.0    4.0    7.0
protein      77.0    9.480519    8.079556   0.0    5.0    7.0   15.0   34.0

# Items in store

In [19]:
star['item'].nunique()

77

# Data Cleaning

In [9]:
star.isna().sum()

Unnamed: 0    0
item          0
calories      0
fat           0
carb          0
fiber         0
protein       0
type          0
dtype: int64

In [10]:
star.duplicated().sum()

0