In [1]:
import pandas as pd

In [2]:
star = pd.read_csv('starbucks.csv')

In [3]:
star.head()

,Unnamed: 0,item,calories,fat,carb,fiber,protein,type
0,1,8-Grain Roll,350,8.0,67,5,10,bakery
1,2,Apple Bran Muffin,350,9.0,64,7,6,bakery
2,3,Apple Fritter,420,20.0,59,0,5,bakery
3,4,Banana Nut Loaf,490,19.0,75,4,7,bakery
4,5,Birthday Cake Mini Doughnut,130,6.0,17,0,0,bakery

In [4]:
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  77 non-null     int64
 1   item        77 non-null     object
 2   calories    77 non-null     int64
 3   fat         77 non-null     float64
 4   carb        77 non-null     int64
 5   fiber       77 non-null     int64
 6   protein     77 non-null     int64
 7   type        77 non-null     object
dtypes: float64(1), int64(5), object(2)
memory usage: 4.9+ KB

In [6]:
star.shape

(77, 8)

    # Dataset Information
    item:contains name of food items that are sold by the starbuck->(Muffin, loaf, doughnut and more)->(in total 77 food-items)
    calories:a unit of energy->(depends